<div>
    <p></p>
    <h3>Products in Cart</h3>
    <table class="table table-hover">
        <span ng-show="cart.items.length==0"> Cart is clear </span>
        <table class="table" ng-show="cart.items.length > 0">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Delete from Cart</td>
                </tr>
            </thead>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>
                <button class="btn btn-primary" ng-click="decrementItem(item.productId)">-</button>
                {{item.quantity}}
                <button class="btn btn-primary" ng-click="incrementItem(item.productId)">+</button>
            </td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
            <td>
                <button class="btn btn-danger"  ng-click="removeItem(item.productId)">Delete</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    </table>
    <p>
        <button class="btn btn-secondary" ng-show="isUserLoggedIn() && cart.items.length > 0" ng-click="clearCart()">Clear cart</button>
    </p>

    <p></p>
    <h3 ng-show="isUserLoggedIn() && cart.items.length > 0" >Order details</h3>
    <form ng-show="isUserLoggedIn() && cart.items.length > 0" >
        <input class="form-control" type="text" placeholder="Phone number" ng-model="orderDetails.phone">
        <p></p>
        <input class="form-control" type="text" placeholder="Address" ng-model="orderDetails.address">
        <p></p>
        <input class="form-control" type="text" placeholder="Name" ng-model="orderDetails.name">
        <p></p>
        <input class="form-control" type="text" placeholder="Surname" ng-model="orderDetails.surname">
        <p></p>
        <input class="form-control" type="text" placeholder="country" ng-model="orderDetails.countryCode">
        <p></p>
        <input class="form-control" type="text" placeholder="postal code" ng-model="orderDetails.postalCode">
        <p></p>
        <input class="form-control" type="text" placeholder="district" ng-model="orderDetails.district">
        <p></p>
        <input class="form-control" type="text" placeholder="city" ng-model="orderDetails.city">
        <p></p>
        <input class="form-control" type="text" placeholder="street" ng-model="orderDetails.street">
        <p></p>
        <input class="form-control" type="text" placeholder="house" ng-model="orderDetails.house">
        <p></p>
        <input class="form-control" type="text" placeholder="flat" ng-model="orderDetails.flat">
    </form>

    <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">Create order</button>
    <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Create order</button>
</div>